$screen-sm-min: 320px;
$screen-md-min: 768px;
$screen-lg-min: 1200px;
$screen-sm-query: "screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-md-min})";
$screen-md-max: "screen and (max-width: 768px)";

@mixin screen-sm {
	@media #{$screen-sm-query} {
		@content;
	}
}