body {
}

.flex-base {
	display: flex;
}

.grid-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 6px;
	margin-bottom: 6px;
	align-items: center;
}

.grid-column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 6px;
	margin-bottom: 6px;
}

.grid-cell {
	flex: 1;
}

.grid-cell-center {
	align-self: center;
}

.grid-gutter {
	margin-left: 1em;
	margin-right: 1em;
}