{% extends "base.html" %}
{% block content %}
<div class="jumbotron" id="dark-background">
<div class="container" id="top-container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="checkout-title">Checkout</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img src="../static/build/img/bobblehead.png" alt="bobblehead product" class="img-responsive bobble-hero">
        </div>
        <div class="col-md-6 col-sm-6">
            <form action="/charge/" method="POST" id="order-form-remix">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="checkout-table">
                            <div class="order-header">Your Order</div>
                            <div id="product-info">
                                <div class="product-description">Pure Resin Donald Trump Bobblehead</div>
                                <div class="product-other-wrapper">
                                    <div class="product-price">
                                        $<span id="price">19.99</span> x
                                    </div>
                                    <div class="product-quantity">
                                        <select name="product-quantity-items" id="product-quantity-items" class="c-select">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="product-shipping">
                                <div class="shipping">Shipping</div>
                                <div class="shipping-free">Free!</div>
                            </div>
                            <div class="order-subtotal">
                                Subtotal: $<span id="order-subtotal"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="stripe-button-container">
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" id="stripe-button"
                            data-key="{{ key }}"
                            data-description="Trump Bobbleheads"
                            data-amount="0"
                            data-currency="USD"
                            data-billing-address="True"
                            data-shipping-address="True"
                            data-locale="auto">
                        </script>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}