{% extends "base.html" %}
{% block content %}
	<div id="trump-background" class="jumbotron">
		<div id="top-container" class="container">
			<div class="row" id="top-row">
				<div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1">
					<img src="../static/build/img/product-box.png" alt="Donald Trump Bobblehead Picture" class="img-responsive product-hero">
				</div>
				<div class="col-md-6 col-sm-6">
					<h2 class="product-headline">Donald Trump Bobbleheads</h2>
					<p>A perfect symbol of your allegiances or gift for that special someone, our Trump bobbleheads offer a fun way to show your support for the Donald.</p>
					<p>Enjoy free shipping, money-back guarantee, and 20% off for a limited time when you order now!</p>
					<button class="order-now"><a href="/checkout">Checkout</a></button>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row" id="page-bottom">
				<p class="learn-more">Learn More</p>
				<div class="centered-div">
					<div class="chevron-down"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="sell-point-icon">
					<span class="fi-wrench"></span>
				</div>
				<h3 class="sell-point-headline">Quality</h3>
				<p class="sell-point-copy">Our bobbleheads are made from high-quality, pure pine resin. Each one is built with care, joy, love--and an appropriate propensity to bobble!</p>
			</div>
			<div class="col-md-4 col-sm-4">

			</div>
			<div class="col-md-4 col-sm-4">

			</div>
		</div>
	</div>
{% endblock %}