{% extends "base.html" %}
{% block content %}
	<div id="trump-background" class="jumbotron">
		<div id="top-container" class="container background-transparent">
			<div class="row" id="top-row">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3 col-xs-12">
							<iframe class="trump-vid" src="https://www.youtube.com/embed/3Zujym2e0rM" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
							<h2 class="product-headline">Donald Trump Bobbleheads</h2>
							<p class="product-subhead">The perfect symbol of your allegiances or gift for that special someone.</p>
							<ul class="checkout-list">
								<li><span class="fi-check"></span>Free shipping</li>
								<li><span class="fi-check"></span>Pure pine resin contruction</li>
								<li><span class="fi-check"></span>Money-back guarantee</li>
								<li><span class="fi-check"></span>An excessive amount of bobble</li>
								<li><span class="fi-check"></span>Low price of <span class="strikethrough">$25</span> $19.99</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 col-sm-offset-4">
							<button class="order-now"><a href="/checkout">Checkout</a></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="page-bottom">
			<p class="learn-more">Learn More</p>
			<span class="fi-arrow-down"></span>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="learn-more-headline" id="scroll-end">A Bobblehead to Make You Smile</h2>
				<hr class="learn-more-line">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<img src="../static/build/img/bobblehead.png" alt="bobblehead product" class="img-responsive bobble-hero">
			</div>
		</div>
		<div class="row selling-points">
			<div class="col-md-4 col-sm-4">
				<div class="sell-point-icon">
					<span class="fi-like"></span>
				</div>
				<h3 class="sell-point-headline">Fun</h3>
				<p class="sell-point-copy">Whether as a testament to your support or gift to a close one (even a grumpy liberal!), these bobbleheads are a hilarious tribute to the Donald!</p>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="sell-point-icon">
					<span class="fi-wrench"></span>
				</div>
				<h3 class="sell-point-headline">Quality</h3>
				<p class="sell-point-copy">Our bobbleheads are made from high-quality, pure pine resin. Each one is built with care, joy, and love--all to ensure a healthy life full of bobbling!</p>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="sell-point-icon">
					<span class="fi-shield"></span>
				</div>
				<h3 class="sell-point-headline">Assurance</h3>
				<p class="sell-point-copy">Each unit sold comes with a 30-day, no-hassle money back guarentee and free shipping in the continental US. We want you to enjoy your bobblehead worry free.</p>
			</div>
		</div>
		<div class="row quote-section">
			<div class="row">
				<div class="col-sm-12">
					<span class="quote">My office and I love my bobblehead! It's been a consistent topic of conversation—and source of envy—since it arrived!</span>
					<div class="quote-attribution">
						<span class="quote-dash">— Amber, NC</span>
						<img src="../static/build/img/woman-smiling-mobile.jpg" alt="Review-headshot" class="review-headshot">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4 col-xs-12">
				<button class="order-now order-now-bottom"><a href="/checkout">Checkout</a></button>
			</div>
		</div>
	</div>
{% endblock %}