<div class="container-fluid footer-wrapper">
	<div class="col-xs-6 col-xs-offset-3">
		<ul class="footer-list">
			<li class="footer-header">Resources</li>
			<li class="footer-item"><a href="/contact">Contact</a></li>
			<li class="footer-item"><a href="/terms">Terms of Use</a></li>
			<li class="footer-item"><a href="/terms">Policies</a></li>
		</ul>
	</div>
</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='build/js/scripts.js') }}"></script>