/*** COLORS ***/
$white: #f7f7f7;
$black: #1b1b1b;
$gray: lighten(#c6c6c6,10);
$gray-dark: darken($gray, 16);
$gray-light: lighten($gray, 14);
$blue: #0066cc;
$blue-dark: darken($blue, 10);
$blue-light: lighten($blue, 10);

$side-menu: #220724;