.order-now {
	padding: 8px 12px;
	background-color: $blue;
	border-bottom: 3px solid darken($blue,10);
	border-radius: 8px;
	width: 300px;
	position: relative;
	z-index: 1;
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: $white;
	font-size: 20px;
	text-decoration: none;
	text-align: center;

	@include screen-sm {
		width: 100%;
	}

	&:hover {
		background-color: $blue-light;
		cursor: pointer;
	}
}

.order-now-bottom {
	margin-top: 10px;
	margin-bottom: 40px;
}

.contact-button {
	font-size: 16px;
	color: $white;

	&:hover {
		color: darken($white,8);
		text-decoration: none;
	}

	@include screen-sm {
		font-size: 12px;
	}
}

.submit-button {
	width: 100%;
	text-align: center;
	font-weight: bold;
	background: transparent;
	font-size: 16px;
	height: 32px;
	margin-bottom: 80px;

	&:focus {
		outline: none;
	}

	&:hover {
		border: 1px solid lighten($white,10);
	}
}

#submit {
	width: 94%;
	display: block;
	text-align: center;
	font-weight: bold;
	background: transparent;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 3px;
	padding-bottom: 3px;
	border: 1px solid $white;
	border-radius: 4px;

	&:focus {
		outline: none;
	}

	&:hover {
		border: 1px solid lighten($white,10);
		color: #73B9FF;
	}
}

#paypal-button {
	text-decoration: none;
	font-size: 16px;

	&> div {
		width: 100%;
		margin-top: 8px;
		margin-bottom: 8px;
		text-align: center;
		border: 1px solid $white;
		color: $white;
		border-radius: 6px;
		text-decoration: none;
		padding-top: 4px;
		padding-bottom: 4px;
		background:
			linear-gradient(
				lighten($blue,6),
				darken($blue,4)
			),;
		box-shadow: 0px 0px 3px rgba($black,.5);

		&:hover {
			border: 1px solid lighten($white,10);
			color: #79D7F6;
		}

		@include screen-sm {
			margin-top: 6px;
			margin-bottom: 6px;
		}
	}
}