.order-now {
	padding: 8px 12px;
	background-color: $blue;
	border-bottom: 3px solid darken($blue,10);
	border-radius: 8px;
	width: 100%;
	position: relative;
	z-index: 1;

	&:hover {
		background-color: $blue-light;
		cursor: pointer;
	}

	a {
		color: $white;
		font-size: 20px;
		text-decoration: none;
	}
}

.order-now-bottom {
	margin-top: 10px;
	margin-bottom: 40px;
}

.contact-button {
	font-size: 16px;
	color: $white;

	&:hover {
		color: darken($white,8);
	}

	@include screen-sm {
		font-size: 12px;
	}
}

.submit-button {
	width: 100%;
	text-align: center;
	font-weight: bold;
	background: transparent;
	font-size: 16px;
	height: 32px;
	margin-bottom: 80px;

	&:focus {
		outline: none;
	}

	&:hover {
		border: 1px solid lighten($white,10);
	}
}