main {
	position: relative;
	z-index: 1;
}

#trump-background {
	background-image:
		linear-gradient(
			rgba($black,.2),
			rgba($black,.3)
		),
		url(../img/trump-background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding: 0px;
	z-index: -5;
	position: relative;

	&:before {
		    content: "";
		    background: url(../img/crossed_stripes.png) repeat;
		    top: 0;
		    left: 0;
		    bottom: 0;
		    right: 0;
		    position: absolute;
		    opacity: .6;
		    z-index: -4;
	}
}

#top-container {
	padding-top: 80px;
	position: relative;
	z-index: 2;
}

#bobble-hero {
	margin-top: 20px;
	padding: 10px;
}

.product-headline {
	font-size: 30px;
	text-align: center;
	color: $white;
}