main {
	position: relative;
	z-index: 1;
}

#trump-background {
	background-image:
		linear-gradient(
			rgba($black,.2),
			rgba($black,.3)
		),
		url(../img/trump-background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding: 0px;
	z-index: -5;
	position: relative;

	&:before {
		    content: "";
		    background: url(../img/crossed_stripes.png) repeat;
		    top: 0;
		    left: 0;
		    bottom: 0;
		    right: 0;
		    position: absolute;
		    opacity: .6;
		    z-index: -4;
	}
}

#top-container {
	padding-top: 80px;
	position: relative;
	z-index: 2;
}

#bobble-hero {
	margin-top: 20px;
	padding: 10px;
}

.product-headline {
	font-size: 30px;
	text-align: center;
	color: $white;
}

#order-now-form {
	text-align: center;
	margin-top: 20px;

	.row {
		width: 100%;
		border: 1px solid $white;
		margin: 0 auto;
		border-radius: 4px;
		padding: 0;
		margin-bottom: 6px;
	}

	.form-label {
		float: left;
		font-size: 16px;
		color: $white;
		text-align: center;
		height: 32px;
		vertical-align: center;
		margin-bottom: 0px;
		padding-top: 4px;
		border-right: 1px solid $white;
	}

	.form-input {
		float: right;
		font-size: 16px;
		height: 32px;
		color: $white;
		background: transparent;
		border: 0;

		&:focus {
			outline: none;
		}

		@include placeholder {
			background: transparent;
			vertical-align: center;
			color: rgba($white,.75);
		}
	}
}

