nav {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: transparent;
	display: flex;
	justify-content: center;
	flex-direction: row;

	.trump-menu {
		display: flex;
		list-style-type: none;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 80%;
		border-bottom: 4px solid $white;
		border-radius: 4px;
		z-index: 3;

		@include screen-sm {
			width: 100%;
			border-radius: 0;
		}

		.logo {
			font-family: 'EB Garamond', serif;
			letter-spacing: 6px;
			color: $white;
			font-size: 60px;
			margin-top: 10px;

			@include screen-sm {
				font-size: 32px;
			}
		}

		.menu-right {
			flex: 1;
			text-align: right;

			@include screen-sm {
				display: none;
			}
		}

		.menu-left {
			flex: 1;

			@include screen-sm {
				display: none;
			}
		}

		.menu-center {
			text-align: center;
			flex: 2 400px;
		}
	}
}