/* CUSTOM VARIABLES
============================================================= */
/*** COLORS ***/
/* RESPONSIVE
============================================================= */
.container-small,
.container-large {
  max-width: 100%;
}

/* GRID
============================================================= */
body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

nav {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-flex: 0 0 260px;
  -ms-flex: 0 0 260px;
  flex: 0 0 260px;
}

main {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 80px;
  margin-right: 80px;
}

.flex-base {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.grid-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 6px;
  margin-bottom: 6px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-column {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 6px;
  margin-bottom: 6px;
}

.grid-cell {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.grid-cell-center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.grid-gutter {
  margin-left: 1em;
  margin-right: 1em;
}

/* BASIC SETTINGS
============================================================= */
body {
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  color: #1b1b1b;
  margin: 0;
}

button {
  border: none;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

ul, menu, dir {
  padding: 0;
  margin: 0;
}

.text-center {
  text-align: center;
}

/* ELEMENTS
============================================================= */
nav {
  background-color: #220724;
  border-right: 2px solid #f7f7f7;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
nav ul {
  list-style-type: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
nav ul li {
  -webkit-flex: 1 0 60px;
  -ms-flex: 1 0 60px;
  flex: 1 0 60px;
  padding: 4px;
  margin-left: 20px;
}
nav ul .logo-li {
  margin-top: 10px;
  padding: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  margin-left: 0px;
}
nav ul .logo-li .logo-text {
  font-size: 20px;
  font-weight: 700;
  color: #f7f7f7;
  text-decoration: none;
  border-bottom: 2px solid #f7f7f7;
}
nav ul .logo-li .logo-text:hover {
  color: #0080ff;
}
nav ul a {
  padding: 8px;
  margin: 8px;
  text-decoration: none;
  color: #f7f7f7;
  font-size: 16px;
}
nav ul a:hover {
  color: #0080ff;
}
nav ul .divider {
  font-size: 20px;
  color: #f7f7f7;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  margin-left: 0px;
  padding: 0px;
}

.blue_button {
  padding: 8px 12px;
  background-color: #0066cc;
  border-bottom: 3px solid #00478f;
  font-size: 14px;
  border-radius: 8px;
  text-decoration: none;
  color: #f7f7f7;
}
.blue_button:hover {
  background-color: #0080ff;
  border-bottom: 3px solid #004d99;
  cursor: pointer;
}

body .grid-section {
  padding: 20px;
  background: #e0e0e0;
  border-radius: 4px;
  border-bottom: 3px solid #b7b7b7;
  border-right: 1px solid #bcbcbc;
  border-left: 1px solid #bcbcbc;
  box-shadow: 0px 0px 3px rgba(27, 27, 27, 0.5);
}

/* MISC
============================================================= */
